:root{
    /* COLORS */
    --grey-text: #555;
    --grey-second: #999;
    --grey-background: #F0F0F0;
    
}

*, *::before, *::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;

    font-family: "Open sans";
}

svg{
    width: 20px;
    height: 20px;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    width: 100%;

    background-image: url("../docs/assets/img/background1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#name{
    padding-top: 100px;

    font-size: 60px;
}

#desc{
    width: 50%;

    text-align: center;
}

.navbar{
    display: flex;
    flex-direction: row;
    gap: 20px;

    margin: 0px 10px 0px 10px;
}

#tabs a:link{
    color: black;
    text-decoration: none;
}

#tabs a:visited{
    color: black;
    text-decoration: none;
}

#blocks{
    display: flex;
    flex-direction: column;
    gap: 100px;

    width: 60%;
}

.block{
    /* min-height: 200px; */

    background-color: rgba(255, 255, 255, 0.8);

    padding: 15px;

    box-shadow: 5px 5px 5px var(--grey-second);
}

/* .block:hover{
    cursor: pointer;

    background-color: rgba(192, 192, 192, 0.8);
    transition: background-color 0.2s;
} */

.block-title{
    display: flex;
    align-items: center;
    gap: 5px;

    font-size: x-large;
    font-weight: bold;

    padding-bottom: 10px;
}

.block-title img{
    height: 30px;
    width:  30px;
}

#bResume{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.pointer{
    cursor: pointer;
}

#backtotop{
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 10%;
    right: -1px;

    height: 50px;
    width: 50px;

    background-color: lightgrey;

    border: solid 1px black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#backtotop:link{
    color: black;
    text-decoration: none;
}

#backtotop:visited{
    color: black;
    text-decoration: none;
}

#footer{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 20px;

    background-color: rgba(255, 255, 255, 0.8);
}

/* timeline resume */
.resume-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 2rem 0;

    color: var(--grey-text);
}

.resume-avatar{
    display: flex;
    justify-content: center;
    /* align-items: center; */

    position: relative;

    height: 100%;
}

.resume-avatar::after{
    margin: 0 auto;

    content: "";
    position: absolute;

    width: 2px;

    top: 20px;
    bottom: -2rem;

    background-color: var(--grey-second);
}

.resume-avatar:nth-last-child(2)::after{
    display: none;
}

.resume-item{
    padding: .75rem;

    border: solid 1px var(--grey-second);
    border-radius: .75rem;
}

.resume-item:hover{
    box-shadow: 5px 5px 5px var(--grey-second);
}

.resume-header{
    display: flex;
    gap: .5rem;
}

.item-icon{
    display: flex;
    align-items: center;
}

.item-title{
    flex-grow: 1;
    font-size: 1.1rem;
    font-weight: bold;
}

.item-job{}

.item-place{}

.item-date{
    color: var(--grey-second);
}

.resume-content{
    margin-top: .5rem;
    padding: .5rem;

    background-color: var(--grey-background);

    border-radius: .25rem;

    white-space: pre-wrap;
}

/*  */
.no-decoration{
    color: var(--grey-text);
    text-decoration: none;
}

.no-decoration:visited{
    color: var(--grey-text);
    text-decoration: none;
}

.spoilerShow{
    display: block;
}

.spoilerHide{
    display: none;
}

.desc-project{
    display: none;

    margin-top: .5rem;
    padding: .5rem;

    background-color: var(--grey-background);

    border-radius: .25rem;
}

.title-project{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
